__pycache__/
*.pyc
*.pyo

venv/
env/
.venv/

dataset/
audio_data/
recordings/
*.wav
*.mp3

models/
*.h5
*.pt
*.pth

.vscode/
.idea/

.env
.DS_Store
Thumbs.db


.hf_home/
wav2vec2_order_taking/
*.safetensors
*.bin
*.pt
*.pth